
// COLORS
$bgColor: #201C24;
$textColor: #E3E0E8;
$textDisabledColor: #605b64;
$blockBgColor: rgba(53, 42, 71, 0.85);
$activeColor: rgba(241, 237, 237, 0.17);
$hoverColor: rgba(241, 237, 237, 0.05);
$btnDefaultColor: #5D4D70;
$btnInfoColor: #E3E0E8;
$btnDisabled: #58526359;
$btnDisabledHover: #39364059;
$btnDisabledActive: #39364013;

// VARIABLES
$borderRadius: 5px;
$basicWrapperHeight: calc(100vh - 112px);

// TEXT SIZE
$textSizeXL: 28px;
$textSizeL: 24px;
$textSizeMD: 20px;
$textSizeSM: 14px;
$textSizeXS: 13px;
$textSizeUS: 12px;