@import './variables';
@import './fonts';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

br {
    content: "";
    display: inline-block;
    height: 16px;
}

body {
    background-color: $bgColor;
    color: $textColor;

    .bg-image {
        max-width: 100%;
        max-height: 100vh;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.container {
    max-width: 1000px;
    margin: auto;

    @media screen and (max-width: 1050px) {
        padding: 0 25px;
    }
}

.input {
    height: 39px;
    width: 314px;
    border-radius: 5px;
    border: none;
    padding: 0 20px;
    outline: none;
    caret-color: $textColor;
    color: $textColor;

    &:focus {
        background-color: $activeColor;
    }

    &__default {
        background-color: $hoverColor;
    }
}