@import "../variables";

.ForgerPassword {
  height: $basicWrapperHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  &-wrapper {
    padding: 32px;
    background-color: $blockBgColor;
    border-radius: $borderRadius;
    max-width: 490px;
    width: 100%;

    h3 {
      text-align: center;
      //   padding: 16px 0;
      padding: 0 0 32px 0;
    }
  }

  &__logo {
    margin: auto;
    display: block;
  }

  &__btns {}

  &__text_info {
    text-align: center;
    display: block;
  }
}
