@import '../variables';

.header {
    position: relative;
    height: 56px;
    background-color: transparent;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-12px, -12px);
    }

    &__right {
        display: flex;

        .search {
            display: flex;
            position: relative;
            input {
                padding: 0 42px 0 10px;
                width: 314px;
            }
            &__icon {
                position: absolute;
                right: 7px;
            }
        }

        ul.nav {
            list-style: none;
            display: flex;
            li {
                margin-left: 16px;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: $borderRadius;
                    width: 36px;
                    height: 39px;

                    &:hover {
                        background-color: $hoverColor;
                    }

                    &.active {
                        background-color: $activeColor;
                    }
                }
            }
        }
    }
}